<p-table [value]="rooms">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Subscribed Users</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-room>
    <tr>
      <td>{{room.name}}</td>
      <td>{{room.subscribedUserIds.length}}</td>
      <td>
        <p-button class="p-mr-2" (onClick)="subscribeToRoom(room.roomId)" label="subscribe"></p-button>
        <p-button (onClick)="viewRoom(room.roomId)" label="view"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

